<div class="container" >
    <% if notice %>
        <p class="alert alert-success d-flex align-items-center" role="alert"><%= notice %></p>
    <% elsif alert %>
        <p class="alert alert-danger d-flex align-items-center" role="alert"><%= alert %></p>
    <% end %>
</div>

